<%=@point%>

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>POWER TRENDS 3000</h1>
			<h3>second place is a set of steak knives</h3>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li <%if params[:action] == 'index'%>class="current_page_item"<%end%>><a href="/">Consumers</a></li>
			<li <%if params[:action] == 'utility'%>class="current_page_item"<%end%>><a href="/main/utility">Utilities</a></li>
			<li <%if params[:action] == 'about'%>class="current_page_item"<%end%>><a href="/main/about">About</a></li>
			</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="content">
			
			<div class="post">
				<h2 class="title"><a href="#">What's Going on Here?</a></h2> 
				
				<div class="entry">
	
					Power Trends 3000 was built by <br />
						<p />
						<ul>
							<li>Hrishikesh Bakshi</li>
							<li>Tarun Kothuri </li>
							<li>Mike Bukhin</li>
						</ul>
						<p />
					as part of Y! Hack Day NYC 2009	<br />
					<img src='http://ycorpblog.com/wp-content/uploads/2009/09/openhacknyc.jpg'>
					<br />
					Thanks to everyone at Yahoo for their support.
					
					<br />
					
					<b>Technologies Used</b>
					<ul>
						<li>Yahoo! Weather API va YQL</li>
						<li>Flickr API</li>
						<li>Upcoming API</li>
						<li>Twitter Widget</li>
						<li>Google Maps</li>
						<li>Flex Charts</li>
						
					
					</ul>
					
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
			
				 
			 
			
			
			<b></b>

 		
<h2>

	 </h2>
			
			


		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			

		 
				

<div id="weather_info"></div>
				<p />
		 
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-content">




</div>
<div id="footer">

</div>
<!-- end #footer -->
 


 

 
<script type="text/javascript">
var slider;

 
</script>
