<h1>Power Hack</h1>
<p>Find me in app/views/main/index.html.erb</p>


<div id="sliderbg">
    <div id="sliderthumb"><img src="sliderthumbimg"></div>
</div>
<script type="text/javascript">
var slider;

function sliderInit() {
    slider = YAHOO.widget.Slider.getHorizSlider("sliderbg", "sliderthumb", 0, 200);
}
</script>