<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  
  <title>Power Trends</title>
 

<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />



  <!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/dragdrop/dragdrop-min.js"></script>

<!-- Slider skin (optional) -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/slider/assets/skins/sam/slider.css" />

<!-- Slider source file -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/slider/slider-min.js"></script>
  <%= javascript_include_tag "jquery-1.3.2.min" %>

 <%= yield :head %>

</head>

<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
